---
import Section from "@/components/main-page/Section.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import SectionSubheader from "@/components/SectionSubheader.astro";
import Swiper from "@/components/Swiper.astro";
import Plugin from "@/components/main-page/Plugin.astro";
import MainPageData from "@/assets/main-page-data.json";
---
<Section>
  <SectionHeader>Community-made plugins</SectionHeader>
  <SectionSubheader>Write your own plugins in C#, F#, Python, JavaScript, or TypeScript.</SectionSubheader>

  <Swiper class="plugins">
    {MainPageData.plugins.map(v =>
      <Plugin
        color={v.color}
        title={v.title}
        subtitle={v.subtitle}
        author={v.author}
        icon={v.icon}
        image={v.image}
      />
    )}
  </Swiper>
</Section>

<style>
.plugins {
    margin-top: 32px;
}
</style>
