---
import ThemeToggle from '@/components/ThemeToggle.astro';
import { Picture } from 'astro:assets';
import Logo from '@/assets/logo.png';
import Button from '@/components/Button.astro';
import MaxWidthContainer from "@/components/MaxWidthContainer.astro";
import Section from '@/components/Section.astro';
import {getBaseUrl} from "@/utils";

const urlPrefix = getBaseUrl(true);

const navLinks = [
  { href: urlPrefix + '/plugins', text: 'Plugins' },
  { href: 'https://www.flowlauncher.com/docs/', text: 'Docs' },
  // Disable the blog for now. Maybe sometime in the future, when we have more time.
  // { href: '/blog', text: 'Blog' },
  { href: 'https://github.com/Flow-Launcher/Flow.Launcher', text: 'GitHub' },
];
---

<Section class="header" containerClass="inner" padding="0">
  <a href="/">
    <Picture src={Logo} formats={['avif', 'webp']} densities={[1, 1.5, 2]} alt="Flow Launcher logo" height="18"/>
  </a>

  <nav class="nav">
    {navLinks.map(navLink => <a href={navLink.href}>{navLink.text}</a>)}
    <Button id="download-button">Download</Button>
    <ThemeToggle />
  </nav>
</Section>

<style>
.header {
    height: 72px;
    background-color: var(--bg-alternate);
    transition: background-color 0.2s;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    z-index: 100;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    gap: 48px;
    font-weight: 500;
}

.nav a {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s;
    font-size: 18px;
    text-decoration: none;
}

.nav a:hover {
    border-bottom-color: var(--text);
}

#download-button {
    margin-left: 10px;
}
</style>

<script>
import {setupButtonToOpenDownloadDialog} from "@/utils";

setupButtonToOpenDownloadDialog("#download-button");
</script>
