---
interface Props {
  video: string;
  imageOnly?: boolean;
  fullWidth?: boolean;
}

const {video, imageOnly, fullWidth} = Astro.props;

let id = video;
if (video.startsWith("http:") || video.startsWith("https:")) {
  const url = new URL(video);
  id = url.searchParams.get("v") || "";
} else if (video.includes("youtu.be")) {
  const url = new URL(video);
  id = url.pathname.slice(1);
}

const src = !imageOnly ? `https://www.youtube.com/embed/${id}` : `https://i.ytimg.com/vi/${id}/hqdefault.jpg`;
---
{imageOnly ? <div class="yt-thumbnail-container">
  <img src={src} alt="" class:list={{fullWidth}}/>
  <div class="yt-thumbnail-play-icon-container" style="">▶️</div>
</div> : <iframe
  {src}
  class:list={{fullWidth}}
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>}

<style>
.yt-thumbnail-container {
    position: relative;
}

.yt-thumbnail-play-icon-container {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 48px;
}

.fullWidth {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}
</style>
